html {
    box-sizing: border-box;
}

body {
    background: cadetblue;
}

* {
    margin: 0;
    padding: 0;
}

.photo {
    margin-top: -7px;
    margin-left: -7px;
}

.text-photo,h2 {
    position: absolute;
    color: white;
    width: 318px;
    height: 36px;
    left: 16px;
    top: 502px;
    font-size: 37px;
    margin-top: -10px;
    margin-left: 9px;
}
.text-photo,h4 {
    position: absolute;
    width: 285px;
    height: 37px;
    left: 16px;
    top: 554px;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: -7px;
    margin-left: 9px;
}
.text-photo,h5 {
    position: absolute;
    width: 278px;
    height: 37px;
    left: 16px;
    top: 579px;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 3px;
    margin-left: 9px;
}

.header {
    position: absolute;
    background:white;
    width: 700px;
    height: 150px;
    margin-left: 263px;
    margin-top: -616px;
}

.text-header {
    color:black;
    font-size: 22px;
    font-family: Arial;
    position: absolute;
    margin-left: 100px;
    margin-top: 35px;
    font-family: 'PT Serif', serif;
}

.text-header_sub {
    color:rgb(99, 97, 97);
    font-size: 21px;
    font-family: Arial;
    position: absolute;
    margin-left: 100px;
    margin-top: 60px;
    font-family: 'PT Serif', serif;
}

.person {
    background: #eceaea;
    position: absolute;
    width: 700px;
    height: 463px;
    margin-left: 263px;
    margin-top: -467px;
}

.text-about_person {
    font-family: 'PT Serif', serif;
    padding-left: 95px;
    margin-bottom: 4px;
    padding-top: 6px;
}

.list {
    font-size: 14px;
    padding-left: 110px;
    margin-bottom: 15px;
}

.logo {
    background:white;
    position: absolute;
    margin-top: -40px;
    margin-left: 873px;
    width: 90px;
    height: 36px;
    box-shadow: -2px 0px 6px 0px black;
}

.text-logo {
    padding: 1px;
    padding-left: 11px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'PT Serif', serif;
    font-size: 25px;
    position: absolute;
}






